$hover-opacity: 0.5;
$hover-background: $gray;
$grid-background: $light-gray;
$tip-background: $black;
$tip-color: $white;
$light-blue: $info;

.svg-error {
  fill: $error;
}
.svg-warning {
  fill: $warning;
}
.svg-info {
  fill: $info;
}
.svg-default {
  fill: $black;
}

.chart-grid {
  fill: $grid-background;
}
.chart-fill {
  fill: $light-blue;
}
.svg-hover-background {
  fill-opacity: 0;
}
.svg-hover-background:hover {
  fill: $hover-background;
  fill-opacity: $hover-opacity;
}

g.svg-tooltip-tip {
  background-color: $tip-background;
  color: $tip-color;
  border:solid gray;
  border-radius: 6px;
  padding: 5px;

  position: absolute;
  overflow:visible;
  cursor: pointer;
  z-index: 1;
}
