$hover-opacity: 0.5;
$hover-background: $gray;
$grid-background: $light-gray;
$tip-background: $white;
$tip-color: $black;
$line-1: #1a1aff;
$line-2: #1a75ff;
$line-3: #0099ff;
$line-4: #66ccff;

.svg-error {
  fill: $error;
}
.svg-warning {
  fill: $warning;
}
.svg-info {
  fill: $info;
}
.svg-success {
  fill: $success;
}
.svg-default {
  fill: $black;
}
.svg-mouse-catch {
  fill: none;
  fill-opacity: 0;
}
.svg-mouse-line {
  stroke: $gray;
  stroke-width: 1px;
}
.svg-line {
  fill: none;
  stroke-width: 2px;
}
.svg-line-1 {
  stroke: $line-1;
}
.svg-line-2 {
  stroke: $line-2;
}
.svg-line-3 {
  stroke: $line-3;
}
.svg-line-4 {
  stroke: $line-4;
}

.chart-grid {
  fill: $grid-background;
}
.chart-fill {
  fill: $info;
}
.svg-hover-background {
  fill-opacity: 0;
}
.svg-hover-background:hover {
  fill: $hover-background;
  fill-opacity: $hover-opacity;
}
