<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation"><div class="container">
  <div class="navbar-text pull-left">
      <p>&copy; {{copyRight}}</p>
  </div>
  <div class="navbar-text pull-right">
    {{yield (hash footer-icon=(component "layout/bottom-footer/footer-icon"))}}
  </div>
</div></div>
